In [1]:
import pandas as pd
import ast
import folium

In [3]:
df = pd.read_csv("../../../csv/v2/030_yonge_count_processed.csv.zip")
df.head()

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00,207,3.710382,7,45,2
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00,187,3.710382,8,0,2
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00,218,3.710382,8,15,2
3,4,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:30:00,260,3.710382,8,30,2
4,5,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:45:00,232,3.710382,8,45,2

In [4]:
coords = df[["location","lat","lng"]].drop_duplicates("location")
coords.head()

                                location        lat        lng
0          BROADVIEW AVE AT ERINDALE AVE  43.677521 -79.358652
32   ISLINGTON AVE AT MARKET GARDEN MEWS  43.622903 -79.514446
64    INDIAN GROVE AT INDIAN VALLEY CRES  43.651255 -79.457233
96          BROOKSIDE AVE AT ST JOHNS RD  43.661452 -79.492137
128        GORMLEY AVE AT LASCELLES BLVD  43.694278 -79.399207

# Saving all detector locations

In [6]:
loc=[43.660834, -79.388976]
map1 = folium.Map(location=loc, tiles="OpenStreetMap", zoom_start=14)

In [8]:
for i in range(len(coords)):
    lat = coords.iloc[i]["lat"]
    lng = coords.iloc[i]["lng"]
    folium.Marker(location=[lat,lng]).add_to(map1)

In [10]:
map1.save("./maps/010_yonge_count_map1.html")

# Saving detector locations in Yonge St only

In [19]:
coords_yonge = coords[coords["location"].str.contains("YONGE ST")]
coords_yonge.head()

                                                location        lat        lng
17379                   LAWRENCE AVE AT YONGE ST (PX 55)  43.725101 -79.402195
24707                  WELLINGTON ST AT YONGE ST (PX 30)  43.647846 -79.377370
25059                       FRONT ST AT YONGE ST (PX 29)  43.646884 -79.376974
25411                THE ESPLANADE AT YONGE ST (PX 2345)  43.645783 -79.376503
30627  BROADWAY AVE & MONTGOMERY AVE AT YONGE ST (PX 50)  43.709583 -79.398997

In [20]:
map2 = folium.Map(location=loc, tiles="OpenStreetMap", zoom_start=14)

for i in range(len(coords_yonge)):
    lat = coords_yonge.iloc[i]["lat"]
    lng = coords_yonge.iloc[i]["lng"]
    folium.Marker(location=[lat,lng]).add_to(map2)
    
map2.save("./maps/010_yonge_count_map2.html")