In [1]:
import pandas as pd
import ast

In [2]:
# https://openweathermap.org/weather-conditions - reference for the weather column
weather_df = pd.read_csv("../../csv/v2/000_weather_data.csv.zip")

weather_df["weather"] = weather_df["weather"].apply(lambda x: ast.literal_eval(x)[0])

weather_df["collectedAt"] = pd.to_datetime(weather_df["collectedAt"], utc=True)
weather_df["collectedAt"] = weather_df["collectedAt"].apply(lambda x: x.to_datetime64())
weather_df["collectedAt"] = weather_df.collectedAt.dt.floor(freq="s")

weather_df["systemSunrise"] = weather_df["systemSunrise"] + weather_df["timezone"]
weather_df["systemSunrise"] = pd.to_datetime(weather_df["systemSunrise"], unit="s")
weather_df["systemSunrise"] = weather_df["systemSunrise"].apply(lambda x: x.to_datetime64())

weather_df["systemSunset"] = weather_df["systemSunset"] + weather_df["timezone"]
weather_df["systemSunset"] = pd.to_datetime(weather_df["systemSunset"], unit="s")
weather_df["systemSunset"] = weather_df["systemSunset"].apply(lambda x: x.to_datetime64())

weather_df = weather_df.drop(
    columns=["base",
             "datetime",
             "timezone",
             "id",
             "name",
             "Code",
             "longitude",
             "latitude",
             "tempMin",
             "tempMax",
             "pressure",
             "windGust",
             "systemType",
             "systemId",
             "systemCountry",
             "systemSunrise",
             "systemSunset",
             "seaLevel",
             "groundLevel"])

In [3]:
weather_df = weather_df.fillna(value=0, axis=1)

In [4]:
len(weather_df.columns)

,weather,visibility,collectedAt,temperature,FeelsLike,humidity,windSpeed,windDegree,cloudsAll,rain1h,snow1h
0,800,10000,2022-07-14 12:45:00,18.69,18.68,79,2.57,340,0,0,0
1,800,10000,2022-07-14 12:51:44,19.16,19.17,78,2.57,340,0,0,0
2,800,10000,2022-07-14 12:55:27,19.16,19.17,78,2.57,340,0,0,0
3,800,10000,2022-07-14 13:00:00,19.38,19.36,76,2.57,340,0,0,0
4,800,10000,2022-07-14 13:05:00,19.42,19.4,76,2.57,340,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
73530,800,10000,2023-03-26 21:35:00,9.77,6.07,41,9.26,290,0,0,0
73531,800,10000,2023-03-26 21:40:00,9.77,6.07,41,9.26,290,0,0,0
73532,800,10000,2023-03-26 21:45:00,9.64,5.9,40,9.26,290,0,0,0
73533,800,10000,2023-03-26 21:50:00,9.61,5.86,40,9.26,290,0,0,0
73534,800,10000,2023-03-26 21:55:00,9.61,5.86,41,9.26,290,0,0,0

In [4]:
weather_df.to_csv("../../csv/v2/010_weather_data_processed.csv.zip", index=False, compression="zip")