In [1]:
import pandas as pd
import ast
import folium

In [2]:
df = pd.read_csv("../../../csv/v2/040_gardiner_count_processed.csv.zip")
df.head()

,detector_id,datetime_bin,volume_15min,number_of_lanes,primary_road,direction,latitude,longitude,detector_loc
0,DW0040DWG,2022-08-11 15:00:00,160,3,F G Gardiner Xy W,W,43.638046,-79.396634,W of SPADINA AV
1,DW0126DEG,2022-08-11 15:00:00,170,3,F G Gardiner Xy E,E,43.638420,-79.451353,W of RONCESVALLES AVE
2,DW0140DEG,2022-08-11 15:00:00,169,3,F G Gardiner Xy E,E,43.637296,-79.464739,E of ELLIS AVE
3,DW0140DWG,2022-08-11 15:00:00,123,3,F G Gardiner Xy W,W,43.637449,-79.464777,E of ELLIS AVE
4,DW0201DWG,2022-08-11 15:00:00,134,3,F G Gardiner Xy W,W,43.614486,-79.546012,At THE EAST MALL

In [10]:
coords = df[["latitude","longitude"]]
coords.head()

    latitude  longitude
0  43.638046 -79.396634
1  43.638420 -79.451353
2  43.637296 -79.464739
3  43.637449 -79.464777
4  43.614486 -79.546012

In [5]:
loc=[43.660834, -79.388976]
map1 = folium.Map(location=loc, tiles="OpenStreetMap", zoom_start=14)

In [14]:
for i in range(len(coords)):
    lat = coords.iloc[i]["latitude"]
    lng = coords.iloc[i]["longitude"]
    folium.Marker(location=[lat,lng]).add_to(map1)

In [16]:
map1.save("./maps/010_gardiner_count_map1.html")