In [1]:
import pandas as pd

# 003

## Decision Tree

In [8]:
dt_003 = pd.read_csv("./params/003_decision_tree.csv")
dt_003.T

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.645186
model              Decision Tree

## Random Forest

In [9]:
rf_003 = pd.read_csv("./params/003_random_forest.csv")
rf_003.T

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 200
n_jobs                        12
score                   0.676598
model              Random Forest

## XGBoost

In [10]:
xgb_003 = pd.read_csv("./params/003_xgboost.csv")
xgb_003.T

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.841972
model                       XGBoost

## MLP

In [11]:
mlp_003 = pd.read_csv("./params/003_mlpr.csv")
mlp_003.T

                                0
alpha                         0.1
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.746133
model                         MLP

# 013

In [12]:
pd.read_csv("./params/013_decision_tree.csv").T

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.837316
model              Decision Tree

In [13]:
pd.read_csv("./params/013_random_forest.csv").T

                               0
max_depth                     48
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 300
score                   0.849477
model              Random Forest

In [14]:
pd.read_csv("./params/013_xgboost.csv").T

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                        0.9589
model                       XGBoost

In [15]:
pd.read_csv("./params/013_mlpr.csv").T

                                0
alpha                         0.1
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.911361
model                         MLP

# 023

In [21]:
dt = pd.read_csv("./params/023_decision_tree.csv").T
rf = pd.read_csv("./params/023_random_forest.csv").T
xg = pd.read_csv("./params/023_xgboost.csv").T
dl = pd.read_csv("./params/023_mlpr.csv").T

In [25]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.424033
model              Decision Tree

In [26]:
rf

                               0
max_depth                     32
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 100
score                   0.452495
model              Random Forest

In [27]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         6
max_leaves                       40
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.496075
model                       XGBoost

In [28]:
dl

                                0
alpha                         0.1
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.432041
model                         MLP

# 033

In [47]:
dt = pd.read_csv("./params/033_decision_tree.csv").T
rf = pd.read_csv("./params/033_random_forest.csv").T
xg = pd.read_csv("./params/033_xgboost.csv").T
dl = pd.read_csv("./params/033_mlpr.csv").T

In [48]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes                75
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.857412
model              Decision Tree

In [49]:
rf

                               0
max_depth                     32
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 200
score                   0.876828
model              Random Forest

In [50]:
xg

                                  0
alpha                           0.1
learning_rate                   0.3
max_depth                         6
max_leaves                       40
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                       0.91196
model                       XGBoost

In [51]:
dl

                                0
alpha                         0.1
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.480226
model                         MLP

# 043

In [52]:
dt = pd.read_csv("./params/043_decision_tree.csv").T
rf = pd.read_csv("./params/043_random_forest.csv").T
xg = pd.read_csv("./params/043_xgboost.csv").T
dl = pd.read_csv("./params/043_mlpr.csv").T

In [53]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.658075
model              Decision Tree

In [55]:
rf

                               0
max_depth                     48
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 100
score                    0.69844
model              Random Forest

In [56]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                        16
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.839943
model                       XGBoost

In [57]:
dl

                                0
alpha                       0.001
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.735427
model                         MLP

# 053

In [68]:
dt = pd.read_csv("./params/053_decision_tree.csv").T
rf = pd.read_csv("./params/053_random_forest.csv").T
xg = pd.read_csv("./params/053_xgboost.csv").T
dl = pd.read_csv("./params/053_mlpr.csv").T

In [69]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split             32
random_state                  42
splitter                    best
score                   0.838807
model              Decision Tree

In [70]:
rf

                               0
max_depth                     32
max_leaf_nodes               100
min_samples_leaf              10
min_samples_split             16
n_estimators                 200
score                   0.851724
model              Random Forest

In [66]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.956585
model                       XGBoost

In [67]:
dl

                                0
alpha                         0.1
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.898637
model                         MLP

# 063

In [71]:
dt = pd.read_csv("./params/063_decision_tree.csv").T
rf = pd.read_csv("./params/063_random_forest.csv").T
xg = pd.read_csv("./params/063_xgboost.csv").T
dl = pd.read_csv("./params/063_mlpr.csv").T

In [72]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.405531
model              Decision Tree

In [73]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 200
score                   0.447854
model              Random Forest

In [74]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       40
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             cpu_predictor
random_state                     42
tree_method                    hist
score                      0.478678
model                       XGBoost

In [75]:
dl

                                0
alpha                      0.0001
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      200
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.395627
model                         MLP

# 073

In [76]:
dt = pd.read_csv("./params/073_decision_tree.csv").T
rf = pd.read_csv("./params/073_random_forest.csv").T
xg = pd.read_csv("./params/073_xgboost.csv").T
dl = pd.read_csv("./params/073_mlpr.csv").T

In [77]:
dt

                               0
criterion          squared_error
max_depth                      8
max_leaf_nodes                75
min_samples_leaf               1
min_samples_split              4
random_state                  42
splitter                    best
score                   0.780289
model              Decision Tree

In [78]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 300
score                   0.874244
model              Random Forest

In [79]:
xg

                                  0
alpha                          0.01
learning_rate                   0.3
max_depth                         6
max_leaves                       20
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             cpu_predictor
random_state                     42
tree_method                    hist
score                      0.872267
model                       XGBoost

In [80]:
dl

                            0
alpha                     0.1
epsilon                   0.0
hidden_layer_sizes  (100, 50)
learning_rate_init      0.001
max_iter                  500
n_iter_no_change           10
random_state               42
tol                    0.0001
score                0.222183
model                     MLP

# 083

In [81]:
dt = pd.read_csv("./params/083_decision_tree.csv").T
rf = pd.read_csv("./params/083_random_forest.csv").T
xg = pd.read_csv("./params/083_xgboost.csv").T
dl = pd.read_csv("./params/083_mlpr.csv").T

In [82]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               5
min_samples_split              2
random_state                  42
splitter                    best
score                    0.67978
model              Decision Tree

In [83]:
rf

                               0
max_depth                     32
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 200
score                   0.700367
model              Random Forest

In [84]:
xg

                                  0
alpha                          0.01
learning_rate                   0.3
max_depth                        16
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.839635
model                       XGBoost

In [85]:
dl

                                0
alpha                       0.001
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.609696
model                         MLP

# 093

In [86]:
dt = pd.read_csv("./params/093_decision_tree.csv").T
rf = pd.read_csv("./params/093_random_forest.csv").T
xg = pd.read_csv("./params/093_xgboost.csv").T
dl = pd.read_csv("./params/093_mlpr.csv").T

In [87]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               5
min_samples_split              2
random_state                  42
splitter                    best
score                   0.835666
model              Decision Tree

In [88]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 100
score                   0.846969
model              Random Forest

In [89]:
xg

                                  0
alpha                           0.1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.957929
model                       XGBoost

In [90]:
dl

                                0
alpha                      0.0001
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      750
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.913447
model                         MLP

# 103

In [93]:
dt = pd.read_csv("./params/103_decision_tree.csv").T
rf = pd.read_csv("./params/103_random_forest.csv").T
xg = pd.read_csv("./params/103_xgboost.csv").T
dl = pd.read_csv("./params/103_mlpr.csv").T

In [94]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
random_state                  42
splitter                    best
score                   0.435162
model              Decision Tree

In [95]:
rf

                               0
max_depth                     32
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 300
score                   0.471526
model              Random Forest

In [96]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.527537
model                       XGBoost

In [97]:
dl

                                0
alpha                      0.0001
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.353104
model                         MLP

# 113

In [98]:
dt = pd.read_csv("./params/113_decision_tree.csv").T
rf = pd.read_csv("./params/113_random_forest.csv").T
xg = pd.read_csv("./params/113_xgboost.csv").T
dl = pd.read_csv("./params/113_mlpr.csv").T

In [99]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.852504
model              Decision Tree

In [100]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 200
score                   0.881354
model              Random Forest

In [101]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         6
max_leaves                       20
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.908001
model                       XGBoost

In [102]:
dl

                           0
alpha                  0.001
epsilon               0.0001
hidden_layer_sizes       100
learning_rate_init       0.1
max_iter                 200
n_iter_no_change          10
random_state              42
tol                   0.0001
score               0.484404
model                    MLP

# 123

In [103]:
dt = pd.read_csv("./params/123_decision_tree.csv").T
rf = pd.read_csv("./params/123_random_forest.csv").T
xg = pd.read_csv("./params/123_xgboost.csv").T
dl = pd.read_csv("./params/123_mlpr.csv").T

In [105]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
random_state                  42
splitter                    best
score                   0.696049
model              Decision Tree

In [106]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
n_estimators                 100
score                   0.724869
model              Random Forest

In [107]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                        16
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                       0.86534
model                       XGBoost

In [108]:
dl

                                0
alpha                      0.0001
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.699075
model                         MLP

# 133

In [109]:
dt = pd.read_csv("./params/133_decision_tree.csv").T
rf = pd.read_csv("./params/133_random_forest.csv").T
xg = pd.read_csv("./params/133_xgboost.csv").T
dl = pd.read_csv("./params/133_mlpr.csv").T

In [110]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               5
min_samples_split             32
random_state                  42
splitter                    best
score                   0.835028
model              Decision Tree

In [111]:
rf

                               0
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               5
min_samples_split              2
n_estimators                 100
score                    0.84864
model              Random Forest

In [112]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    350
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.956949
model                       XGBoost

In [113]:
dl

                                0
alpha                         0.1
epsilon                    0.0001
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      900
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.899093
model                         MLP

# 143

In [114]:
dt = pd.read_csv("./params/143_decision_tree.csv").T
rf = pd.read_csv("./params/143_random_forest.csv").T
xg = pd.read_csv("./params/143_xgboost.csv").T
dl = pd.read_csv("./params/143_mlpr.csv").T

In [115]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              2
random_state                  42
splitter                    best
score                   0.436838
model              Decision Tree

In [116]:
rf

                               0
max_depth                     48
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 200
score                   0.478545
model              Random Forest

In [117]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                         8
max_leaves                       80
n_estimators                    250
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.553058
model                       XGBoost

In [118]:
dl

                                0
alpha                         0.1
epsilon                       0.0
hidden_layer_sizes  (100, 50, 25)
learning_rate_init          0.001
max_iter                      500
n_iter_no_change               10
random_state                   42
tol                        0.0001
score                    0.357856
model                         MLP

# 153

In [119]:
dt = pd.read_csv("./params/153_decision_tree.csv").T
rf = pd.read_csv("./params/153_random_forest.csv").T
xg = pd.read_csv("./params/153_xgboost.csv").T
dl = pd.read_csv("./params/153_mlpr.csv").T

In [120]:
dt

                               0
criterion          squared_error
max_depth                     16
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split             16
random_state                  42
splitter                    best
score                    0.92559
model              Decision Tree

In [121]:
rf

                               0
max_depth                     48
max_leaf_nodes               100
min_samples_leaf               1
min_samples_split              8
n_estimators                 300
score                   0.933927
model              Random Forest

In [122]:
xg

                                  0
alpha                             1
learning_rate                   0.3
max_depth                        16
max_leaves                       40
n_estimators                    100
num_parallel_tree                10
objective          reg:squarederror
predictor             gpu_predictor
random_state                     42
tree_method                gpu_hist
score                      0.956869
model                       XGBoost

In [123]:
dl

                           0
alpha                 0.0001
epsilon                  0.0
hidden_layer_sizes       100
learning_rate_init     0.001
max_iter                1500
n_iter_no_change          10
random_state              42
tol                   0.0001
score               0.617788
model                    MLP