In [1]:
import pandas as pd

In [2]:
front_raw_data = pd.read_csv("../../raw_data/traffic_volume/traffic_volume_raw-data-2020-2029.zip")
front_count_closest_df = pd.read_csv("../../csv/front_count_closest.csv.zip")
front_count_grouped_dow = pd.read_csv("../../csv/front_count_grouped_dow.csv.zip")
front_flow_df = pd.read_csv("../../csv/front_yonge_flow_data_grouped_v2.csv.zip")
weather_df = pd.read_csv("../../csv/weather_data_processed_v2.csv.zip")

In [3]:
front_count_closest_df["time_end"] = pd.to_datetime(
    front_count_closest_df["time_end"], utc=True)
front_count_closest_df["time_end"] = front_count_closest_df["time_end"].apply(
    lambda x: x.to_datetime64())

front_flow_df["collectedAt"] = pd.to_datetime(
    front_flow_df["collectedAt"], utc=True)
front_flow_df["collectedAt"] = front_flow_df["collectedAt"].apply(
    lambda x: x.to_datetime64())

weather_df["collectedAt"] = pd.to_datetime(
    weather_df["collectedAt"], utc=True)
weather_df["collectedAt"] = weather_df["collectedAt"].apply(
    lambda x: x.to_datetime64())

In [4]:
front_count_flow = pd.merge(front_count_closest_df, front_flow_df,
                            left_on="time_end", right_on="collectedAt", how="inner")

In [5]:
front_count_flow_weather = pd.merge(
    front_count_flow, weather_df, left_on="collectedAt", right_on="collectedAt", how="inner")

In [6]:
front_count_flow_weather = front_count_flow_weather.drop(
    columns=["time_end", "freeFlowSpeed", "freeFlowTravelTime", "confidence"])

In [7]:
front_count_grouped_dow

,lng,lat,total_count,distance_from_point,hour,minute,day_of_week
0,-79.368404,43.649997,284.076923,0.773430,7,45,3
1,-79.368404,43.649997,340.769231,0.773430,8,0,3
2,-79.368404,43.649997,358.307692,0.773430,8,15,3
3,-79.368404,43.649997,316.384615,0.773430,8,30,3
4,-79.368404,43.649997,327.769231,0.773430,8,45,3
...,...,...,...,...,...,...,...
411,-79.371465,43.649450,559.000000,0.526677,17,0,5
412,-79.371465,43.649450,594.000000,0.526677,17,15,5
413,-79.371465,43.649450,549.000000,0.526677,17,30,5
414,-79.371465,43.649450,552.000000,0.526677,17,45,5
415,-79.371465,43.649450,560.000000,0.526677,18,0,5

In [8]:
front_flow_df_dow = front_flow_df.copy(deep=True)

In [9]:
front_count_flow_weather.to_csv(
    "../../csv/front_count_flow_weather.csv.zip", index=False, compression="zip")

In [10]:
front_flow_df_dow

,collectedAt,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,coordinates
0,2022-08-10 00:00:00,14.000000,18.000000,74.666667,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
1,2022-08-10 00:15:00,14.333333,17.666667,72.333333,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
2,2022-08-10 00:30:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
3,2022-08-10 00:45:00,11.000000,17.333333,94.666667,58.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
4,2022-08-10 01:00:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
...,...,...,...,...,...,...,...,...
13912,2023-01-01 22:45:00,13.666667,17.666667,77.000000,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
13913,2023-01-01 23:00:00,14.666667,17.333333,70.666667,58.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
13914,2023-01-01 23:15:00,14.666667,18.000000,70.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
13915,2023-01-01 23:30:00,16.666667,17.666667,61.333333,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."
13916,2023-01-01 23:45:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':..."

In [11]:
front_flow_df_dow["hour"] = front_flow_df_dow["collectedAt"].dt.hour
front_flow_df_dow["minute"] = front_flow_df_dow["collectedAt"].dt.minute
front_flow_df_dow["day_of_week"] = front_flow_df_dow["collectedAt"].dt.dayofweek

In [12]:
front_flow_df_dow

,collectedAt,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,coordinates,hour,minute,day_of_week
0,2022-08-10 00:00:00,14.000000,18.000000,74.666667,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",0,0,2
1,2022-08-10 00:15:00,14.333333,17.666667,72.333333,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",0,15,2
2,2022-08-10 00:30:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",0,30,2
3,2022-08-10 00:45:00,11.000000,17.333333,94.666667,58.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",0,45,2
4,2022-08-10 01:00:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",1,0,2
...,...,...,...,...,...,...,...,...,...,...,...
13912,2023-01-01 22:45:00,13.666667,17.666667,77.000000,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",22,45,6
13913,2023-01-01 23:00:00,14.666667,17.333333,70.666667,58.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",23,0,6
13914,2023-01-01 23:15:00,14.666667,18.000000,70.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",23,15,6
13915,2023-01-01 23:30:00,16.666667,17.666667,61.333333,57.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",23,30,6
13916,2023-01-01 23:45:00,18.000000,18.000000,56.000000,56.0,1.0,0.0,"[{'latitude': 43.646886954993356, 'longitude':...",23,45,6

In [13]:
front_flow_count_dow = pd.merge(front_flow_df_dow, front_count_grouped_dow, on=[
    "hour", "minute", "day_of_week"])
front_flow_count_weather_dow = pd.merge(
    front_flow_count_dow, weather_df, left_on="collectedAt", right_on="collectedAt", how="inner")

In [14]:
front_flow_count_weather_dow.to_csv(
    "../../csv/front_count_flow_weather_dow.csv.zip", index=False, compression="zip")